Makefile
*.so*
*.list
*.prl
*.tag
doc/html
storageplugins/hcontacts/unittest/hcontacts-tests
syncmlcommon/pkgconfig/
/storageplugins/hcalendar/unittest/hcalendar-tests
/storageplugins/hnotes/unittest/hnotes-tests
/utils/utils
