Source: sync-app
Section: utils
Priority: optional
Build-Depends: debhelper (>= 5), doxygen, sync-fw-dev( >= 0.5.0), cdbs, libmeegosyncml-dev( >= 0.4.9), libqt4-dev, libopenobex1-dev, libqtm-versit-dev, libqtm-contacts-dev, libkcalcoren-dev, libmkcal-dev, libqtm-systeminfo-dev, libsysinfo-dev, aegis-builder
Maintainer: Duggirala Karthik <karthik.2.duggirala@nokia.com>
Standards-Version: 3.7.2

Package: sync-app
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Plugins for synchronization
 This package includes plugins for Harmattan synchronization.

Package: sync-app-dev
Architecture: any
Depends: debhelper (>= 5), sync-app(= ${binary:Version}), cdbs
Description: Files required for synchronizer plugin development
 Header file needed for making/compiling plugins.

Package: sync-app-dbg
Architecture: any
Priority: extra
Depends: sync-app (= ${binary:Version})
Description: Debug symbols for sync-app
  Debug symbols for sync-app
 
Package: sync-app-doc
Section: doc
Architecture: any
Description: API documentation for sync-app
    documentation package for sync-app 

Package: sync-app-tests
Section: tests
Priority: optional
Architecture: any
Depends: ${shlibs:Depends}, sync-app, testrunner , meegotouch-dev-tools
XB-Maemo-CI-Packages: hcalendar-tests ,hcontacts-tests , hbookmarks-tests, hnotes-tests 
XB-Maemo-CI-Stage: acceptance 
Description: Module test package for sync-app.
 Module test package for sync-app

